.trueLabel {
    background-color: #fee2e2;
}

.falseLabel {
    background-color: #dbeafe;
}

.unLabel {
    background-color: #f1f5f9;
}

.tooltip-arrow {
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    background-color: inherit;
    position: relative;
    left: calc(100% - 8px); /* Adjust this to align the arrow */
    top: -3px;
}

.filter-option {
    font-size: small!important;
}

/* control the color of the selectpicker dropdown */
.dropdown-menu .selected {
    background-color: #f3f4f6;
}

.bootstrap-select .bs-ok-default::after {
    border-color: #6b7280;
}
.unselected-button {
    background-color: #d1d5db;
}

.unselected-button:hover {
    background-color: #9ca3af;
}

.selected-button {
    background-color: #3b82f6;
}

.selected-button:hover {
    background-color: #2563eb;
}
