.trueLabel {
    background-color: #fee2e2;
}

.falseLabel {
    background-color: #dbeafe;
}

.unLabel {
    background-color: #f1f5f9;
}

.tooltip-arrow {
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    background-color: inherit;
    position: relative;
    left: calc(100% - 8px); /* Adjust this to align the arrow */
    top: -3px;
}

.filter-option {
    color: black;
    font-size: large;
}

.data-filter .filter-option  {
    font-size: small!important;
}

/* control the color of the selectpicker dropdown */
.data-filter .dropdown-item.selected {
    background-color: #e5e7eb;
}
.data-filter .dropdown-item.active {
    color: #374151; /* text-gray-700 */
}



.data-filter .bootstrap-select .bs-ok-default::after {
    border-color: #6b7280;
}

.unselected-button {
    background-color: #d1d5db;
}

.unselected-button:hover {
    background-color: #9ca3af;
}

.selected-button.yes-button {
    background-color: #f87171;
}

.selected-button.no-button {
    background-color: #34d399;
}

/* in the rule configuration system */
.removeRuleCard {
    background-color: #fef2f2;
}

.approveRuleCard {
    background-color: #bfdbfe;
}

/* set the css of the tagify input */
.wordList {
    --tag-bg: #fafafa;
    --tag-hover: #eef2ff;
    --tags-border-color: #d1d5db;
}

.editableSectionTitle .italic:empty:before {
    content: attr(data-placeholder);
    color: #9CA3AF; /* Tailwind gray-400 */
    pointer-events: none;
}

.variantsCheckbox {
    
}